html {
    font-family: "open sans";
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: #292929;
}

h1{
    color: rgb(255, 162, 0);
    text-align: center;
}

main {
    max-width: 60rem;
    margin: 2rem auto;
    padding: 0 2rem;
}

.input{
    width: 100%;
    padding: 1rem 1.5rem;
    /* border: 2px solid #ffa200; */
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    outline: none;
}

.list {
    list-style: none;
    padding: 0;
    color: white;
}

.list li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.8rem 0.5rem;
}

.list li input {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    accent-color: rgb(255, 145, 0);
    outline: none;
    cursor: pointer;
}

.list li.done span {
    text-decoration: line-through;
    opacity: 0.5;
}